<nav class="navbar navbar-lg navbar-expand-lg navbar-transparant navbar-dark navbar-absolute w-100">
    <div class="container">
      <a class="navbar-brand" href="#">Irene Salon</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" asp-controller="Home" asp-action="Index" asp-area="">Home</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" asp-controller="Home" asp-action="Services" asp-area="">Services</a>
              </li>
              @*<li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Services
                  </a>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Hair Cut</a>
                      <a class="dropdown-item" href="#">Rebond</a>
                      <a class="dropdown-item" href="#">Others</a>
                  </div>
              </li>*@
          </ul>
        <a class="btn btn-outline-white" asp-controller="Home" asp-action="Index" asp-area="">Contact Us</a>
      </div>
    </div>
  </nav>