<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/assets/css/custom.css"/>
    <link rel="stylesheet" href="~/assets/css/theme.css"/>
</head>
<body>
    <partial name="_LayoutHeader.cshtml" />
    @RenderBody()
    <script src="~/assets/js/custom.js"></script>
</body>
</html>
