@model Page_Home

@{
    ViewData["Title"] = "Irene Salon - Appointment System";
}

<section class="container">
    <div class="bg-light p-5 rounded">
        <h1>Select Appointment</h1>
        <div class="card">
            <div class="card-body">
                <form method="post" asp-controller="Home" asp-action="SetAppointment">
                    <div class="input-group">
                        <label class="form-label">Date</label>
                        <input type="date" name="appointment_date" required="" />
                    </div>
                    <div class="input-group">
                        <label class="form-label">Time</label>
                        <input type="time" name="appointment_time" required="" />
                    </div>
                    <div class="input-group">
                        <label for="service_id" class="form-label">Services</label>
                        <select class="form-select" name="service_id" required="">
                            <option value="">Choose...</option>
                            @foreach (var Row in Model.Services)
                            {
                                <option value="@Row.ID">@Row.Name</option>
                            }
                        </select>
                    </div>
                    <div class="input-group">
                        <button class="btn btn-primary" type="submit">Schedule</button>
                    </div>
                </form>               
            </div>
        </div>
    </div>
</section>