@model Appointment

@{ 
    ViewBag.Title = "Appointment";
}


<main class="main" role="main">
    <div class="py-7">
        <div class="container">
            <h1>Name: @Model.Name</h1>
            <h1>Mobile: @Model.Mobile_No</h1>
            <h1> Appointment: @Model.Date</h1>

            <h1>ID: @Model.Service_ID</h1>
        </div>
    </div>
</main>