<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/assets/css/theme.css"/>
</head>
<body>
    <div>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="About" asp-action="Index">About</a></li>
        </ul>
    </div>
    @RenderBody()

    <img src="~/assets/img/betzo-banner.png"/>
</body>
</html>
